/* header.css */

/* ロゴのスタイル */
.logo {
    font-size: 2rem; /* 文字サイズ */
    font-weight: bold; /* 太字 */
    color: #007BFF; /* 青系のカラー */
    font-family: 'Arial', sans-serif; /* フォント */
    letter-spacing: 2px; /* 文字間隔 */
    text-transform: uppercase; /* すべて大文字に */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); /* 軽い影 */
    display: flex;
    align-items: center; /* 縦方向中央揃え */
}

/* ヘッダーのスタイル */
header {
    background-color: #f8f9fa; /* 薄いグレー */
    padding: 18px 20px; /* 余白 */
    display: flex;
    justify-content: space-between; /* 左右にコンテンツ配置 */
    border-bottom: 2px solid #007BFF; /* ボーダーライン */
}

.search-bar input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.search-bar button {
    background-color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

header nav {
    display: flex;
    align-items: center;
}

header nav button, header nav a {
    margin-left: 10px;
    background-color: white;
    border: none;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    color: #0078d7;
    font-size: 16px;
}

.notification-icon {
    position: relative;
    font-size: 1.5rem;
    color: white;
}

.notification-badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 0.8rem;
}
