<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>出品中の商品</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/selling_products.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
</head>
<body>
    <!-- 共通ヘッダーを挿入 -->
    {% include 'includes/header.html' %}

    <!-- コンテンツ -->
    <main>
        <h2>出品中の商品</h2>
        <section class="selling-list">
            {% for product in selling_products %}
            <div class="selling-item">
                <img src="{{ product.image1.url }}" alt="{{ product.name }}">
                <div class="selling-info">
                    <p>{{ product.name }}</p>
                    <p>在庫数: {{ product.stock }}</p>
                    <a href="{% url 'selling_detail' product.product_id %}">取引ページへ</a>
                </div>
            </div>
            {% endfor %}
        </section>
        
    </main>
</body>
</html>
